{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key": {
        "pk": $util.dynamodb.toDynamoDBJson($context.arguments.type),
        "sk": $util.dynamodb.toDynamoDBJson($context.arguments.id)
    }
}