{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "pk = :type",
        "expressionValues" : {
          ":type" : $util.dynamodb.toDynamoDBJson($context.arguments.type)
        }
    },
    #if( ${context.arguments.count} )
        ,"limit": $util.toJson($context.arguments.count)
    #end
    #if( ${context.arguments.nextToken} )
        ,"nextToken": "${context.arguments.nextToken}"
    #end
    "limit" : 10
}